<html> 
  <head> 
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/simulation_interface.css') }}">
  </head> 

   <body class = "entire_page"> 

      <div class = "header" style="border-bottom: 7px solid rgb(68, 74, 81);">
         <h1 class = "header">&emsp;Pikmin Propagation Simulator</h1>
      </div>
      
      <form method="POST">
         <div class = "initialization_menu">
            <h3 class = "initialization_menu">Initialize Graph</h3>
            <label class="initialization_menu_form" for="input_graph_family">&emsp;Choose a graph type:</label>
            <select class="initialization_menu_form_black_override" name="input_graph_family" id="input_graph_family">
               <option value="path">Path</option>
               <option value="cycle">Cycle</option>
               <option value="star">Star</option>
               <option value="wheel">Wheel</option>
               <option value="complete">Complete</option>
            </select>
            <br>
            <label class="initialization_menu_form" for="input_size">&emsp;Select Number of Vertices:</label>
            <input class="initialization_menu_form_black_override" id="number" type="number" name="input_size" value="1" min="1" max="30" />
            <br>
            &emsp;<input class="button-5" type="submit" name="init_graph" value="Load Graph">
         </div>
         {% if graph_size > 0 %}
         <div class = "select_analysis">
            <div class = "analysis_option" style="padding:6px;">
               <h4 class = "analysis_option">Run Manual Analysis</h4>
               <label class="analysis_option" for="input_pik_pos">Select Starting Vertex: </label>
               <input id="number" type="number" name="input_pik_pos" value="0" min="0" max={{graph_size}} />
               <br>
               <input class="button-5" type="submit" name="init_pik" value="Initialize Pikmin">
            </div>
            <div class = "analysis_option" style="padding:6px;">
               <h4 class = "analysis_option">Run Automatic Analysis (WIP)</h4>
               <input class="button-5" type="submit" name="run_automatic" value="Run Automatic Analysis">
            </div>
         </div>
         {% endif %}
         <br>
         <div class="score_display">
            {% if not game_complete %}
               <h2>&emsp;Current Game State: </h2>
               <div style="text-indent:50px;">
                  <h4>Turn: {{ turn_number }}</h4>
                  <h4># of Verticies Colored Red: {{ red_count }}</h4>
                  <h4>Current Support Score: {{ red_count + turn_number}}</h4>
                  <h4>Vertices Colored: {{ colored_count }} / {{ graph_size }}</h4>
               </div>
            {% endif %}
            {% if game_complete %}
               <h2>&emsp;Final Game State: </h2>
               <div style="text-indent:50px;">
                  <h4>Turn: {{ turn_number }}</h4>
                  <h4># of Verticies Colored Red: {{ red_count }}</h4>
                  <h4>Final Support Score: {{ red_count + turn_number}}</h4>
                  <h4>Vertices Colored: {{ colored_count }} / {{ graph_size }}</h4>
               </div>
            {% endif %}
         </div>
         <div class="turn_input">
            {% if pikmin_agents_control != [] and not game_complete %}
            <h3 style="margin-top: 5px;">Provide Instructions</h3>
            {% for agent_controller in pikmin_agents_control %}
               {{ agent_controller[0] }}: Move to 
                  <select name={{agent_controller[1]}} value=1>
                  {% for vertex in graph_vertices%}
                     <option value={{vertex+1}} SELECTED>{{vertex+1}}</option>
                  {% endfor %}
                  </select>, then color
                  <select name={{agent_controller[2]}}>
                     <option value="red">Red</option>
                     <option value="blue">Blue</option>
                     <option value="null">Nothing</option>
                  </select> 
                  <input type="hidden" value={{agent}} id="executor_pikmin">
                  <br>
            {% endfor %}
            <input type="hidden" value={{turn_number}} id="turn_tracker">
            <input class="button-5" style="margin-top:10px" type="submit" name="execute_turn" value="Execute Turn">
         </div>
         {% endif %}
         {% if turn_validity_error != "" %}
            <h4 class="error_message"> {{ turn_validity_error }} </h4>
         {% endif %}
      </form>
      {% include 'pik_graph.html' %}
      {% if instructions_history != [] %}
      <div class="turn_history">
         <h2>&emsp;Turn History: </h2>
            <ul class="turn_history_history">
               {% for turn in instructions_history %}
                  <li><b>Turn {{ turn[0] }}:</b> {% for pikmin_step in turn[1] %}&#40; {{ pikmin_step[0] }}, move to {{ pikmin_step[1] }}, then color {{ pikmin_step[2] }} &#41;</li>{% endfor %}
               {% endfor %}
            </ul>
      </div>
      {% endif %}
      <div class="footer">
         Simulation tool created by Katja Mathesius
         <br class="footer">
         Based on <i>Pikmin Propagation</i> by DJ Henson and Katja Mathesius, under the supervision of Dr. Joshua Carlson
      </div>
  </body> 
</html>