<html> 
  <head> 
    
  </head> 

   <body> 
      <h1>Pikmin Simulation</h1>
      <form method="POST">
         <div style="background-color:#989b9e;padding:6px;">
            <h3>Initialize Graph</h3>
            <label for="input_graph_family">Choose a car:</label>
            <select name="input_graph_family" id="input_graph_family">
               <option value="path">Path</option>
               <option value="cycle">Cycle</option>
               <option value="star">Star</option>
               <option value="wheel">Wheel</option>
               <option value="complete">Complete</option>
            </select>
            <br>
            <label style="color:#141414;" for="input_size">Select Number of Vertices:</label>
            <input id="number" type="number" name="input_size" value="1" min="1" max="30" />
            <br>
            <input type="submit" name="init_graph" value="Load Graph">
         </div>
         <div style="background-color:#989b9e;padding:6px;">
            <h4>Run Automatic Analysis (WIP)</h4>
            <input type="submit" name="run_automatic" value="Run Automatic Analysis">
         </div>
        
         <div style="background-color:#989b9e;padding:6px;">
            <h4>Run Manual Analysis (WIP)</h4>
            <label style="color:#141414;" for="input_pik_pos">Select Starting Vertex:</label>
            <input id="number" type="number" name="input_pik_pos" value="0" min="0" max={{graph_size}} />
            <input type="submit" name="init_pik" value="Initialize Pikmin">
         </div>
         <br>
         <div>
            <h3>Provide Instructions</h3>
            <select class="form-control" name=pikmin_agent_selector>
            {% for agent in pikmin_agents %}
               <option name="pik_select" value="{{ agent }}">{{ agent }}</option>
            {% endfor %}
            </select>
            <input id="number" type="number" name="input_pik_move" value="0" min="0" max={{graph_size}} />
         </div>
         <input type="submit" name="add_instruction" value="Move Pikmin">
      </form>
      {% include 'pik_graph.html' %}
  </body> 
</html>